	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/05/2018 12:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-github-draw-logo:before { content: "\f100"; }
.flaticon-code-fork-symbol:before { content: "\f101"; }
.flaticon-coding:before { content: "\f102"; }
.flaticon-terminal:before { content: "\f103"; }
.flaticon-blog:before { content: "\f104"; }
.flaticon-study:before { content: "\f105"; }
.flaticon-coffee-cup:before { content: "\f106"; }
.flaticon-company:before { content: "\f107"; }
.flaticon-management:before { content: "\f108"; }
.flaticon-customer-support:before { content: "\f109"; }
.flaticon-bot:before { content: "\f10a"; }
.flaticon-close:before { content: "\f10b"; }
.flaticon-multiply:before { content: "\f10c"; }
.flaticon-delete:before { content: "\f10d"; }
.flaticon-cross-out:before { content: "\f10e"; }
.flaticon-robot-1:before { content: "\f10f"; }
.flaticon-artificial-intelligence:before { content: "\f110"; }
.flaticon-technology:before { content: "\f111"; }
.flaticon-robot:before { content: "\f112"; }
.flaticon-paper-plane:before { content: "\f113"; }
.flaticon-microphone-black-shape:before { content: "\f114"; }